.StickyImageContainer {
    background-image: url("https://assets-global.website-files.com/65fbd43381ccee5cec1b44da/660250367a3303264ff10ab5_video-image-01.jpg");
    min-height: 600px;
    max-height: 600px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}

.StickyImageContainer::before {
    position: absolute;
    content: "";
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.6) 100%);
    width: 100%;
    height: 100%;
}

.StickyImageContent {
    height: 100%;
    display: flex;
    align-items: end;
    position: relative;
    z-index: 3;
}
.StickyImageContainer::before{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.heading-container {
    min-height: 120px; /* Adjust based on your heading size */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.heading-container h2 {
    /* text-align: center; */
    font-size: 48px;
    line-height: 1.2;
    margin: 0;
    position: relative;
    will-change: opacity;
}

@media (max-width: 768px) {
    .heading-container h2 {
        font-size: 32px;
    }
    
    .heading-container {
        min-height: 100px;
        width: 100% !important;
    }
    .StickyImageContainer {
        background-attachment: scroll !important;
        min-height: 400px;
        max-height: 400px;
    }
}